.cache/
.local/
.vscode-server/
logs/
.bash_history
.bash_logout
.bashrc
.profile
airflow-scheduler.err
airflow-scheduler.log
airflow-scheduler.out
airflow-webserver.pid
airflow-worker.err
airflow-worker.log
airflow-worker.out
airflow-worker.pid
airflow.cfg
airflow.db
unittests.cfg